* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-400: hsl(26, 100%, 55%);
  --clr-primary-200: hsl(25, 100%, 94%);
  --clr-900: hsl(0, 0%, 0%); /*with 75% opacity for lightbox background*/
  --clr-800: hsl(220, 14%, 13%);
  --clr-700: hsl(219, 9%, 45%);
  --clr-300: hsl(220, 14%, 75%);
  --clr-200: hsl(223, 64%, 98%);
  --clr-100: hsl(0, 0%, 100%);

}

body {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  cursor: pointer;
}